<html>
    <head>
        <title><%=title%></title>
    </head>
    
    <body>
        index.ejs파일입니다.
        <%for(var i=0; i<5; i++) {%>
            <p> <%=i%>번 루프입니다.</p>   
        <%}%>
    </body>
</html>